*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#fivereasonPage {
    max-width: 100vw;
    height: 1050px;
    /* background-color: pink; */
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.five-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
